In [1]:
import yfinance as yf
import pandas as pd

In [3]:
tickers = {
    "TSLA": "Tesla",
    "F": "Ford",
    "BMWYY": "BMW",        
    "VWAGY": "Volkswagen", 
    "HYMTF": "Hyundai"     
}

merged_data = pd.DataFrame()

for ticker, prefix in tickers.items():
    data = yf.download(ticker, start="2019-01-01", end="2024-11-01")
    data = data.add_prefix(f"{prefix}_")
    if merged_data.empty:
        merged_data = data
    else:
        merged_data = pd.merge(merged_data, data, left_index=True, right_index=True)

merged_data.to_csv("tesla_ford_bmw_volkswagen_hyundai_full.csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
df=pd.read_csv("tesla_ford_bmw_volkswagen_hyundai_full.csv")
df.head()

,Price,Tesla_Adj Close,Tesla_Close,Tesla_High,Tesla_Low,Tesla_Open,Tesla_Volume,Ford_Adj Close,Ford_Close,Ford_High,...,Volkswagen_High,Volkswagen_Low,Volkswagen_Open,Volkswagen_Volume,Hyundai_Adj Close,Hyundai_Close,Hyundai_High,Hyundai_Low,Hyundai_Open,Hyundai_Volume
0,Ticker,Tesla_TSLA,Tesla_TSLA,Tesla_TSLA,Tesla_TSLA,Tesla_TSLA,Tesla_TSLA,Ford_F,Ford_F,Ford_F,...,Volkswagen_VWAGY,Volkswagen_VWAGY,Volkswagen_VWAGY,Volkswagen_VWAGY,Hyundai_HYMTF,Hyundai_HYMTF,Hyundai_HYMTF,Hyundai_HYMTF,Hyundai_HYMTF,Hyundai_HYMTF
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-02 00:00:00+00:00,20.674667358398438,20.674667358398438,21.0086669921875,19.920000076293945,20.406667709350586,174879000,5.936494827270508,7.900000095367432,8.020000457763672,...,15.510000228881836,15.295000076293945,15.3149995803833,94200,23.85686492919922,25.25,25.25,25.25,25.25,0
3,2019-01-03 00:00:00+00:00,20.02400016784668,20.02400016784668,20.626667022705078,19.825332641601562,20.46666717529297,104478000,5.846320629119873,7.78000020980835,7.989999771118164,...,15.5,15.369999885559082,15.40999984741211,90100,23.85686492919922,25.25,25.25,25.25,25.25,100
4,2019-01-04 00:00:00+00:00,21.179332733154297,21.179332733154297,21.200000762939453,20.18199920654297,20.399999618530273,110911500,6.071756839752197,8.079999923706055,8.119999885559082,...,16.084999084472656,15.729999542236328,15.760000228881836,106500,23.85686492919922,25.25,25.25,25.25,25.25,0